@import url(normalize.css);
body{
    background-color: beige;
    color: blueviolet;
}
h1{
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #95dbbd;
    background-color: #6fbb9a;
    color:#fff;
    font-size: 300%;
    text-align: center;
    line-height: 1;
}
h2{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    color: #6fbb9a;
}
main{
    width: 80%;
    padding: 40px 80px;
    margin: 0px auto;
    border: 1px solid #f6bb9e;
    background-color: #fff;
}
.round{
    border-radius: 50%;
}