@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');

/*導覽列樣式設計*/
body,ul{
    margin:0px;
}

header{
    position: sticky;
    position:-webkit-sticky;
    top:0;
}

nav{
    background-color: lightblue;
}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style-type: none;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
}
nav a:hover{
    background-color: lightskyblue;
    color:blue;
    transition: background-color 1s linear, color 1s ease-in;
}

/*標題列樣式設定*/
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(194, 232, 255,80%);
}

.title{
    text-align: center;
    font-size: 25px;
    font-family: 'Zen Loop', cursive;
}

/*相片清單樣式設定*/
#photolist ul{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding:0px;
}

#photolist li{
    list-style-type: none;
    margin:10px ;
}

#photolist img{
    border-radius: 5px;
    box-shadow: 5px 5px 10px grey;
}

#photolist .emptyitem{
    width: 200px;
}

.gotop{
    font-size: 60px;
    color: rgb(41, 110, 133);
    position: fixed;
    right: 10px;
    bottom: 10px;
}